.menu {
      background: bisque;
      padding: 13px;
  li {
    display: inline-block;
    a {
      border-radius: 7px;
      padding: 10px 20px;
      background: bisque;
      text-decoration: none;
      color: #1515ea;
    }
    a:hover {
      background: #ff007f;
    }
  }
}
.body_home {
  /*background: asset_url('33.jpg');*/
}
.title_login, .title_sign_up, .title_forgot {
  text-align: center;
}
.form {
  text-align: center;
}
.email, .password, .confirm_password {
  width: 250px !important;
  display: inline-block !important;
}
.field {
  padding: 10px;
}
.btn_sign_up, .btn_login, .btn_reset_pass {
  padding: 4px 22px;
  border-radius: 17px;
  background: #20eaea;
}
.email_header, .password_header {
  width: 200px !important;
  display: inline-block !important;
  height: 25px !important;
}
.btn_login_header {
  padding: 2px 25px;
  border-radius: 17px;
  background: #20eaea;
}
span.title {
    float: right;
    margin-right: 110px;
}
a.profile {
    margin-top: 12px;
    margin-left: 10px;
    float: right;
}
.form_header {
  padding-right: 130px;
}
.inline {
  display: inline-flex;
  margin-top: 3px;
}

.input-group {
  width: 250px;
}
.inline {
  label {
    margin-right: 5px;
    margin-top: 5px;
  }
}

span.input-group-addon {
    padding: 4px 13px ;
}

input.btn_login_header {
    position: relative;
    top: -5px;
}

.menu-left {
  background: bisque;
  margin-left: 0px;
  width: 121%;
  a {
    color: #000;
    text-decoration: none;
    float: left;
    clear: both;
    padding: 10px 46px 10px 8px;
    white-space: nowrap;
    margin-left: 11px;
    margin-bottom: 10px;
  }
  a:hover {
    background: #ff007f;
    text-decoration: none;
  }
  ul {
    height: 100%;
    list-style: none;
    overflow: hidden;
    position: relative;
    left: -26px;
  }
  li {
    position: relative;
    top: 10px;
  }
}
.categories {
  background: bisque;
  padding: 9px 11px;
}
.categori {
  margin-left: 13px;
}
.glyphicon-home:before, .glyphicon-cog:before {
  margin-right: 5px;
}

span.glyphicon.glyphicon-cog {
    word-spacing: -10px;
}

.avertise {
  img {
    width: 100%;
    margin-left: 10px;
  }
}
.line {
  height: 2px;
  width: 100%;
  background: red;
  float: right;
}

button.view-most {
    border: none;
    background: red;
    padding: 8px 45px;
    border-radius: 13px;
}

.col-lg-10.body_content {
    padding-right: 30px;
}

input#user_email {
  margin-bottom: -1px;
}

form#new_user {
    zoom: 70%;
}

button.buy {
    background: #EFD4D4;
    padding: 4px 33px;
    border: none;
    border-radius: 15px;
    color: darkmagenta;
}
.glyphicon-star:before {
    color: yellow;
}